*{
  margin:0;
  padding: 0;

}
html {
  font-size:13.333vw;
  background: #EFEFF4;
  width: 100%;
  height: 100%;
  position: relative;
}
body {
  font-size:0.28rem;
  width: 100%;
  height: 100%;

}

.normal {
  text-align: center;
  touch-action: none;
}
.loadBg{
  width: 100%;
  height: 100%;
  position: fixed;
  background: #EFEFEF;
  bottom: 1rem;
  z-index: 99;
}
.loadBgHide{
  display: none;
}

.title {
  font-size: 2.5rem;
  font-weight: normal;
  letter-spacing: -1px;
}

.welcome {
  height: 328px;
  background: url(/images/yay.jpg) no-repeat center 0;
  background-size: 388px 328px;
}

.list {
  font-size: 1.2em;
  margin-top: 1.8em;
  list-style: none;
  line-height: 1.5em;
}

.list code {
  background: #f7f7f7;
}

.container{
  overflow: auto;
}
:global(.am-modal-transparent){
  width: auto !important;
}
.loading{
  position: fixed;
  z-index:9999999;
  top: 50%;
  left: 50%;
  margin-left: -.55rem;
  margin-top: -1rem;
}
.loading img{
  width: 1rem;
  height: 1rem;
}
.loadingHide{
  display:none;
}
.load{
  position: fixed;
  bottom: 1rem;
  left: 50%;
  margin-left: -.55rem;
}
.noTouch{
  touch-action: none;
}
.tipError{
  text-align: center;
  font-size: .28rem;
  color: #888;
  margin: .68rem 0 .77rem;
}
.refresh{
    margin:0 auto;
    width: 2.08rem;
    height: .7rem;
    line-height: .7rem;
    box-sizing: border-box;
    border: 1px solid #666;
    border-radius: .06rem;
    font-size: .36rem;
    line-height: .7rem;
    background: transparent;
    text-align: center;
    color: #333;
}


:global(.am-activity-indicator){
  justify-content: center;
}
