@import "../../../themes/vars";

.userBox{
  width: 100%;
  height:2rem;
  background: #fff;
  display: flex;
  align-items: center;
}
.introduce{
  width: 100%;
  height: 3.85rem;
  margin-top: .2rem;
  position: relative;
}
.openbg{
  width: 100%;
  height: 3.85rem;
}
.introduceTitle{
  font-size: .36rem;
  text-align: left;
  margin-top: .2rem;
  height: 1.08rem;
  line-height: 1.08rem;
  background-color: #fff;
  box-sizing: border-box;
  padding-left: .3rem;
  font-weight: bold;
  border-bottom: 1px solid #E5E5E5;
}
.slogan{
  position: absolute;
  left: .3rem;
  top: .97rem;
  font-size: .44rem;
  font-weight: 800;
  color: #333;
}
.colorFont{
  color: #E74538;
}
.toGret{
  width: 2.7rem;
  height: .72rem;
  color: #fff;
  line-height: .72rem;
}
.transfrom{
  position: absolute;
  right: .3rem;;
  top: .82rem;
}
.matterBox{
  width: 5.1rem;
  font-size: .3rem;
  position: absolute;
  left: .2rem;
  bottom: 1.2rem;
  line-height: .45rem;
}
.redData{
  color: #E74538;
}
.payBottom{
  width: 100%;
  height: .98rem;
  background: #fff;
  border: 1px solid #ddd;
  position: fixed;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
}
.pay{
  position: absolute ;
  height: 1rem;
  right: -.34rem;
  top: -.01rem;

}
.toPay{
  border-radius: 0;
  width: 2.64rem;
  height: .98rem;
  font-size: .3rem;
  line-height: .98rem;
}
.payMoney{
  position: absolute;
  left: 0;
  top: 0;
  height: .98rem;
  line-height: .98rem;6
  color: #888888;
  font-size: .28rem;
}
.payMoney{
  margin-left: .3rem;
}
.sum{
  color: #FF6700;
}
.payList:last-child{
  margin-bottom: 1rem;
}
.hide{
  display: none;

}
.full{
  width: 100%;
  height: 1.1rem;
}
:global(.am-list-item){
  height: 1rem;
  line-height: 1rem;
}

:global(.am-list-thumb){
    margin-right: 0 !important;
    padding-right: .15rem;
}
.successBox{
  margin-top: 1rem;
}
.successPic{
  width: 2rem;
  height: 2rem;
  margin: auto;
}
.successPic img{
  width: 2rem;
  height: 2rem;
}
.successful{
  font-size: .4rem;
}
.successTip{
  font-size: .28rem;
  color: #888888;
  margin: .47rem auto .69rem;
}
.toIndex{
  box-sizing: border-box;
  padding: 0 .3rem;
  height: 8.8rem;
  margin: 0 auto;
  overflow: hidden;
}
.toIndex{
  height: auto ;
}
