.H5box{
  position: relative;
}
.H5bg{
  width: 7.5rem;
  height: auto;
  margin-bottom: .8rem;
}
.joinBtn{
  width: 100%;
  position: absolute !important;
  left: 0;
  bottom: 0rem;
  height: 1rem;
  border:none !important;
  line-height: 1rem;
  margin-bottom: 1.25rem;
  font-size: .34rem;
  color: #602895;
  background: url('/images/h5Img/H5btn.png');
  background-size: 100% 1rem;
}
