@import "../../../themes/vars";

.userBox{
  width: 100%;
  height:2rem;
  background: #fff;
  display: flex;
  align-items: center;
}
.introduce{
  width: 100%;
  height: 3.85rem;
  margin-top: .2rem;
  position: relative;
}
.openbg{
  width: 100%;
  height: 3.85rem;
}
.introduceTitle{
  position: absolute;
  top: .26rem;
  left: .3rem;
  font-size: .36rem;
}
.slogan{
  position: absolute;
  left: .3rem;
  top: .97rem;
  font-size: .44rem;
  font-weight: 800;
  color: #333;
}
.colorFont{
  color: #E74538;
}
.toGret{
  width: 3.16rem;
  height: .78rem;
  color: #fff;
  background: #09BB07;
  line-height: .78rem;
  bottom:-.5rem;
  left: -3.1rem;
  font-size: .36rem;
}

.transfrom{
  position: absolute;
  right: .3rem;;
  bottom: .82rem;
}
.matterBox{
  width: 5.1rem;
  font-size: .3rem;
  position: absolute;
  left: .2rem;
  bottom: 1.2rem;
  line-height: .45rem;
}
.redData{
  color: #E74538;
}
.payBottom{
  width: 100%;
  height: .98rem;
  background: #fff;
  border-top: .01rem solid rgba(0,0,0,.2);
  position: fixed;
  bottom: 0;
  left: 0;
}
.pay{
  position: absolute;
  right: 0;
  top: 0;

}
.toPay{
  border-radius: 0;
  width: 2.64rem;
  height: .98rem;
  font-size: .3rem;
  line-height: .98rem;
}
.payMoney{
  position: absolute;
  left: 0;
  top: 0;
  height: .98rem;
  line-height: .98rem;
  color: #888888;
  font-size: .28rem;
}
.payMoney{
  margin-left: .3rem;
}
.sum{
  color: #FF6700;
}
.mineBox{
  margin-top: 1.08rem;
  width: 100%;
  height: 2rem;
  background: #fff;
  display: flex;
 align-items: center;
}
.minePic{
  width: 1.3rem;
  height: 1.3rem;
  margin-top: .1rem;
  margin-left: .3rem;
  margin-right: .25rem;
}
.mineName{
  font-size: .36rem;
  color: #000;
}
.hide{
  display: none;
}
