.eventList {
  background-color: #ffffff;
  margin-top: .2rem;
  overflow: hidden;
  padding: 0 .3rem;
  .tag {
    display: flex;
    border-bottom: 1px solid #EBEBEB;
    margin-bottom: .36rem;
    ul {
      display: flex;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch; 
      flex: 1;
      li {
        padding: .15rem .14rem;
        color: #353535;
        background-color: #F4F5FA;
        font-size: .26rem;
        margin: .18rem .2rem .18rem 0;
        flex-shrink:0;
        border-radius: 4px;
      }
      .selected {
        background-color: #0068DD;
        color: #fff;
      }
    }
    .rightBtn {
      /* padding-left: 0.2rem;
      display: flex;
      align-items: center; */
      margin-left: 0.2rem;
      position: relative;
      top: .4rem;
      height: 100%;
      img {
        width: .4rem;
        height: .28rem;
      }
    }
  }
  .listItem {
    position: relative;
    display: flex;
    background-color: #FAFAFA;
    border-top: 2px solid #E9880B;
    padding: .28rem .2rem .28rem .24rem;
    margin-bottom: .4rem;
    .leftCon {
      flex: 1;
      margin-right: 1.6rem;
      .dsc {
        display: flex;
        align-items: center;
        img {
          width: .44rem;
          height: .44rem;
        }
        .name {
          color: #353638;
          font-size: .32rem;
          margin-left: .11rem;
        }
        .time {
          color: #828A92;
          font-size: .24rem;
          margin-left: .25rem;
        }
      }
      .title {
        color: #000000;
        font-size: .32rem;
        text-align: left;
        margin: .2rem 0 .24rem;
      }
      .detail {
        color: #888888;
        font-size: .28rem;
        text-align: left;
        line-height: 1.5;
        em {
          font-style: normal;
          margin-left: 5px;
        }
        .up {
          color: #0E8E31;
        }
        .down {
          color: #FF0101;
        }
      }
    }
    .rightBtn {
      position: absolute;
      bottom: .28rem;
      right: .2rem;
      height: .52rem;
      border: 1px solid #0068DD;
      border-radius: 20px;
      font-size: .26rem;
      color: #0068DD;
      background: url(/images/calendar/blueRemind.png) left no-repeat;
      background-size: .24rem .26rem;
      background-position-x: .2rem;
      padding-left: .5rem;
      text-align: left;
      padding-right: .3rem;
    }
    .rightBtnSelect {
      position: absolute;
      bottom: .28rem;
      right: .2rem;
      height: .52rem;
      border: 1px solid #888888;
      border-radius: 20px;
      font-size: .26rem;
      color: #888888;
      background: url(/images/calendar/grayRemind.png) left no-repeat;
      background-size: .24rem .26rem;
      background-position-x: .2rem;
      padding-left: .5rem;
      text-align: left;
      padding-right: .3rem;
    }
    .rightTop {
      position: absolute;
      right: 0;
      top: -2px;
      padding: .12rem .1rem;
      border-radius: 0 0 4px 4px;
      color: #FEFEFE;
      font-size: .24rem;
      background-color: #E9880B;
    }
  }
}
.noData {
  /* position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  font-size: .3rem;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #888888; */
  text-align: center;
  font-size: .3rem;
  margin-top: 2rem;
  color: #888888;
  img {
    display: block;
    width: 2.36rem;
    height: 1.58rem;
    margin: 0 auto;
    margin-bottom: .46rem;
  }
}