.listItem {
  position: relative;
  width: 100%;
  background-color: #ffffff;
  text-align: left;
  padding: .18rem .3rem .26rem;
  .text1 {
    display: block;
    color: #828A92;
    font-size: .22rem;
  }
  .coinImg {
    width: .4rem;
    height: .4rem;
    margin-top: .1rem;
    position: relative;
    top: .1rem;
  }
  .text2 {
    display: inline-block;
    color: #222222;
    font-size: .34rem;
    margin-left: .18rem;
    em {
      font-style: normal;
      color: #999999;
      font-size: .26rem;
    }
  }
  .rightBtn {
    width: 1.34rem;
    height: .54rem;
    border-radius: .26rem;
    background-color: #1A81F6;
    color: #ffffff;
    font-size: .24rem;
    border: none;
    float: right;
    line-height: .54rem;
  }
  .selectBtn {
    border: 1px solid #9B9B9B;
    background-color: transparent;
    color: #9B9B9B;
  }
  .line {
    border-bottom: 1px solid #E5E5E5;
    position: absolute;
    width: 100%;
    bottom: 0px;
  }
}