.loading{
  position: absolute;
  bottom: 50px;
  height: 100px;
  text-align: center;
  padding-top: 30px;
  background-color: transparent;
  width: 100%;
}
.loadingHide{
  display:none;
}
.noMoreTip{
  padding:.4rem 0;
  font-size: .28rem;
  color: #B2B2B2;
  text-align: center;
}
:global(.am-pull-to-refresh-indicator){
  color: #ccc;
}
:global(.am-list-header){
  padding: 0 !important;
}
:global(.am-list-body:before){
  background-color:  none !important;
}
