.mesList{
  background: #fff;
  margin: 0.2rem .3rem 0;
  text-align: left;
  overflow: hidden;
  border-radius: .1rem;
  position: relative;
  box-sizing: border-box;
  padding-bottom: .4rem;
}
.cardtitle{
  color: #222222;
  font-size: 0.36rem;
  font-weight: 800;
  margin: .25rem .3rem 0;

}
.cardContent{
  width: 6.9rem;
  height: .8rem;
  margin-top:  0.2rem;
  margin-bottom: 0.15rem;
  margin-right: 0.3rem;
  margin-left: 0.3rem;
  color: #888888;
  font-size: 0.3rem;
  display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 2;
overflow: hidden;
line-height: .43rem;
}
.event{
  color: #B2B2B2;
  font-size: 0.24rem;
  margin-left:0.34rem;
}
.readNum{
    color: #B2B2B2;
    font-size: 0.24rem;
    padding: 0 0.2rem ;
}
.times{
  color: #B2B2B2;
  font-size: 0.24rem;
}
.closeBtn{
  position: absolute;
  right: .36rem;
  bottom: .3rem;
  width: 0.36rem;
  height: 0.28rem;

}
.alertBox{
  width: 100%;
  height: 100%;
  background: #000000;
  position: absolute;
  left: 0;
  top: 0;
  opacity: .46
}
.alertWechat{
  width: 5.38rem;
  height: 5.44rem;
  position: absolute;
  left: 0;top: 0;right: 0;bottom: 0;
  margin: auto;
}
.listLogo{
  float: left;
  width: .8rem;
  height: .8rem;
  margin-right: .2rem;
}
.listLogo img{
  width: .8rem;
  height: .8rem;
}
.logoName{
  color: #828A92;
  font-size: .3rem;
  height: .4rem;
  font-weight: normal;
}
.logoFrom{
  color: #828A92;
  font-size: .24rem;
  font-weight: normal;
}
.eventStrat{
  display: inline-block;
  font-size: .28rem;
  padding: .13rem;
  color: #333;
  background: #F0F0F0;
  border-radius: .06rem;
  margin-left: .3rem;
  margin-top: .2rem;
}
.hide{
  display: none;
}
.clear{
  clear: both;
}
:global(.list-view-section-body){
  margin-bottom: 1.2rem;
}
:global(.am-list-body){
  background: none !important;
}
