@import "../../../themes/vars";

*{
  margin:0;
  padding: 0;
  font-family: 'PingFangSC-Medium';
}
html{
  font-size:13.333vw;
  background: #EFEFF4;
}
a{text-decoration: none}
body{font-size:0.28rem;}
.toptitle{
  width: 100%;
  height: 0.88rem;
  background: white;
  line-height: 0.88rem;
  color:#222;
  font-size: 0.35rem;
  position: relative;
}
.leftArrow{
  width: 0.19rem;
  height: 0.32rem;
  position: absolute;
  left: 0.3rem;
  top: 0.28rem
}

.mesList{
  width: 100%;
  height: 2.48rem;
  background: #fff;
  margin-top: 0.2rem;
  text-align: left;
  overflow: hidden;
  position: relative;
}

.cardtitle{
  color: #000;
  font-size: 0.36rem;
  width: 6.68rem;
  line-height: 0.36rem;
  margin-top: 0.3rem;
  margin-left: 0.3rem;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;

}
.cardContent{
  margin-top:  0.2rem;
  margin-bottom: 0.2rem;
  margin-right: 0.83rem;
  margin-left: 0.3rem;
  color: #888888;
  font-size: 0.3rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.event{
  color: #B2B2B2;
  font-size: 0.24rem;
  margin-left:0.34rem;
}
.readNum{
    color: #B2B2B2;
    font-size: 0.24rem;
    padding: 0 0.2rem ;
}
.times{
  color: #B2B2B2;
  font-size: 0.24rem;
}
.closeBtn{
  position: absolute;
  right: .36rem;
  bottom: .3rem;
  width: 0.36rem;
  height: 0.28rem;

}
.notread{
  color: #888888;
  line-height: .28rem;
  font-size: .28rem;
  margin-bottom: .67rem;
}
.empty{
  width: 6.9rem;
  margin: 0 auto;
}
