@import "../../../themes/vars";

*{
  margin:0;
  padding: 0;
    font-family: 'PingFangSC',"Microsoft YaHei" !important;
}
html{
  font-size:13.333vw;
  background: #EFEFF4;
}
ul li{list-style: none;}
a{text-decoration: none;
 color: #C7C7CC;
}
body{font-size:0.28rem;width: 100% !important;}

.bannerBox{
  width: 6.9rem;
  height: 2.4rem;
  padding: .2rem .3rem 0;
  position: relative;
  background: #fff;
  border-radius: .06rem;
}
.bannerPic{
  width: 6.9rem;
  height: 2.4rem;
}
.toButton{
  width: 2.54rem;
  height: .6rem;
  line-height: .65rem;
  font-size: .28rem;

}
.btnBox{
  position: absolute;
  left: 2.2rem;
  top: 1.54rem;
}
.notice{
  background: #fff;
  text-align: left;
  position: relative;
}
.noticeTitle{
    height: 1.23rem;
}
.times{
  color: #BBBBBB;
  font-size: .24rem;
  position: absolute;
  left:.3rem;
  top: .44rem;
}
.detail{
  margin-left: .9rem;
  color: #576B95;
  font-size: .36rem;
  position: absolute;
  left: 1rem;
  top: .3rem;
}
.caption{
    margin-right: .3rem;
    margin-left: .3rem;
    font-size: .44rem;
    font-weight: bold;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-bottom: .5rem;
    text-align: left;
}
.article{
  font-size: .36rem;
  margin-right: .3rem;
  margin-left: .3rem;
  padding-bottom: .47rem;
  word-break: break-all;
  line-height: .64rem;
  text-align: left;
}
.article span{
  font-size: .32rem !important;
}
.friendBox{
  position: fixed;
  left: 50%;
  margin-left: -1.2rem;
  bottom: 0%;
  z-index: 99;
  margin-bottom: 1.2rem;
}
.toFriend{
      width: 2.4rem;
      height: .8rem;
      background: #000000;
      opacity: .7;
      text-align: center;
      border-radius: .4rem;

}
.tofriends{
  position: absolute;
  top: 0;
  color: #fff;
  width: 2.4rem;
  height: .8rem;
  text-align: center;
    line-height: .8rem;
}
.up{
  width: 100%;
  margin: .2rem 0;
}
.upCenter{
  width: 7.2rem;
  background: #fff;
  padding-left: .3rem;
  text-align: left;
}
.upTitle{
  height: .87rem;
  line-height: .88rem;
  font-size: .34rem;
  border-bottom:.01rem solid #E5E5E5;
}
.labels{
  margin-top: .28rem;
  margin-bottom: .47rem;
}
.labelsList{
  display: inline-block;
  text-align: center;
  padding: .17rem .3rem .16rem;
  color: #888;
  margin-bottom: .14rem;
  border:.1em solid #EEE;
  margin-right: .15rem;
  border-radius: .5rem;
}
.likesBox{
  position: relative;
  height: .67rem;
  top: -.15rem;
}
.goodImg{
  width: .32rem;
  height: .3rem;
  padding-right: .09rem;
}
.numbers{
  color: #888888;
  font-size: .32rem;
}
.like{
  position: absolute;
  left: 1.9rem;
}

.unlike{
  position: absolute;
  right: 1.93rem;
}
.similarBox{
  width: 100%;
  margin-top: .2rem;
  margin-bottom: 1rem;
  background: #fff;
}
.similarCenter{
    margin-left: .3rem;
    text-align: left;
    padding-bottom: .1rem;
    background: #fff;
}
.similarTitle{
  height: .87rem;
  line-height: .88rem;
  font-size: .34rem;
  border-bottom:.01rem solid #E5E5E5;
}
.similarListUl{
  margin-top: .26rem;
}

.similarList{
  display: inline-block;
  margin-bottom: .16rem;
  font-size: .32rem;
  color: #000;
  padding: 0 .3rem;
  background: #EEEEEE;
  border-radius: .06rem;
  color: #222;
  max-width: 6.3rem;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
  text-align: left;
}
.similarList:before{
  content: '';
  border:none !important;
}
:global(.am-modal-body){
  padding: 0 !important;
}
:global(.am-modal-body img){
  height: 8rem;
  width: 5rem;
}
.hide{
  display: none;
}
.fullBox{
  height: 1.08rem;
}
.shareBg{
  background: #1D3D70;
  padding: .62rem;
  box-sizing: border-box;
  position: relative;
}
:global(.am-modal-content){
  border-radius: 0 !important;
  background: none;
  padding-top: 0 !important;
}
.titleTips{
	color: #FFF;
  text-align: left;
}
.titleTips h2{
	font-size: .32rem;
	font-weight: normal;
  color: #fff;
  text-align: left;
}
.delateBg{
  background: none!important;
  border:none;
}
.finger{
  position: absolute;
  right: 2.1rem;
  top: 0.37rem;
	width: .28rem !important;
	height: .32rem !important;
}


.picBox {
    width: 100%;
    max-height: 500px;
    background: url(/images/msgImages/dabai.png) #fff no-repeat center;
    background-size: calc(744px * .4) 986px;
    color: #000;
    font-size: calc(36px * .4);
    word-wrap:break-word;
    padding-bottom: 1.2rem;
}

.picKinds {
    font-size: calc(32px * .4);
    color: #333;
    margin-left: calc(72px * .4);
    padding-top: calc(60px * .4);
    margin-bottom: calc(20px * .4);
    text-align: left;

}

.picTitle {
    box-sizing: border-box;
    margin: 0 calc(72px * .4) calc(40px * .4);
    line-height: calc(66px * .4);
    font-size: calc(44px * .4) !important;
    height: 1.1rem;
    overflow: hidden;
    word-break: break-all;
    text-align: left;
    font-weight: bold;

}


.picFonts {
    box-sizing: border-box;
    line-height: calc(54px * .4);
    margin: 0 calc(72px * .4);
    height: 210px;
    word-break: break-all;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 10;
    overflow: hidden;
     word-break: break-all;
     font-size: .36rem;
     line-height: .64rem;
     text-align: left;
}


.wechatBox {
    margin: calc(60px * .4) auto calc(36px * .4);
    background: url('/images/msgImages/wechatBorder.png');
    background-size: 2.08rem 2.58rem;
    width: 2.08rem;
    height: 2.58rem;
}

 .wechatBox img {
    width: 2rem !important;
    height:2rem;
}
.wechatBox img{
  padding-top: .04rem;
}

.content .bottomName, .content .bottomStation {
    text-align: center;
}
.alertBg{
    box-sizing: border-box;
    background: #1D3D70;
    padding:0rem .62rem .5rem;
  position: relative;
}
.bottomCopy{
  width: 100%;
  height: 1.4rem;
  background: #F6F6F6;
  color: #666;
  font-size: .26rem;
  overflow: hidden;
}
.copytop{
  width: 1.85rem;
  height: .4rem;
  margin:.3rem auto .1rem;
}
.copytop img{
  float: left;
}
.shareBox h2{
  font-weight: normal;
  font-size: .32rem;
  color: white;
  margin-bottom: .3rem;
  position: relative;
  line-height: .32rem;
  height: .32rem;
  margin-left:-.2rem;
}

.shareBox img{
  position: absolute;
  right: .8rem;
  top: .0rem;
}
