@import "../../../themes/vars";

*{
  margin:0;
  padding: 0;
  font-family: 'PingFangSC-Medium';
}
html{
  font-size:13.333vw;
  background: #EFEFF4;
}
a{text-decoration: none;
 color: #C7C7CC;
}
body{font-size:0.28rem;}
