
html, body, :global(#root) {
  height: 100%;
}
html {
  font: 400 15px/1.4 PingFang SC,Helvetica Neue,Helvetica,Microsoft YaHei,Arial,sans-serif;
}

.showMore {
  /* text-overflow: ellipsis; */
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.showMore span {
  display: block !important;
}